body {
  background-color: black;
  margin: 2vh;
  font-size: 20;
}

a {
  color: grey;
  font-size: 3vh;
}

h1 {
  text-align: center;
}

header {
  font-size: 4vh;
  background-image: url(../picture/grey.jpg);
  color: white;
  text-align: center;
  border-style: dotted;
  border-color: grey;
}

img {
  width: 50vh;
  border-style: solid;
  border-color: grey;
}

p {
  color: white;
}

/* no idea why this p1 and p2 text different color with p for me */
p1 {
  color: white;
  font-size: 5vh;
  font-style: oblique;
}

p2 {
  color: white;
  font-size: 6vh;
  font-weight: bold;
  font-style: italic;
}
/* created a line for a clear look in the page */
.line hr {
  boder: 0;
  border-bottom: 2px solid black;
}
